<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.stupidme.cooker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".CookerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cooker_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cooker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.login.LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.login.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.cooker.CookerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.book.BookActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".service.NotificationIntentService" />

        <activity
            android:name=".view.status.StatusActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".view.feedback.FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.avatar.AvatarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.detail.BookDetailActivity"
            android:label="Detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".service.CookerNotifyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="me.stupidme.cooker.action.NOTIFY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>